@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F2B3D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0F2B3D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}


.bg-custom{
    background-image: url('/images/bg.jpg'); /* ganti dengan path yang sesuai di /public */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mySwiper .swiper-pagination{
  position: relative;
  margin-top: 1rem; 
}

.introSwiper .swiper-pagination{
  position: relative;
  margin-top: 1rem; 
}

.introSwiper .swiper-pagination-bullet{
  width: 16px !important;
  height: 4px !important;
  border-radius: 1px !important;
  background: #ffffff !important;
}

.introSwiper .swiper-pagination-bullet-active{
  background-color: #165DFB !important;
}